body::before{
    display: block;
    content: '';
    height: 60px;
}

@media(max-width: 500px){
    #noob{
        padding: 6px 8px;
       border-radius: 10px;
       font-size: 15px;
   
}
  #image{
    width: 100px;
  }


}
@media(min-width: 768px){
    .email-input{
        width: 50%;
    }
}